.inner{
	width: 1000px;
	margin: 0 auto;
}
header{
	background: #f0f0f0;
	line-height: 30px;
	font-size: 14px;
}
header ul li{
	float: left;
}
header ul li:hover a{
	color: #597bff;
}
header .ul1{
	margin-left: 500px;
}
header .ul1 li{
	width: 90px;
}
header .fr li{
	padding: 0 10px;
}
.logo{
	float: left;
}
#banner{
	padding: 30px 0;
}
.qiji{
	font-size: 30px;
	font-family: "楷体";
	float: left;
	padding: 5px 10px;
	padding-bottom: 15px;
	background: url(../img/images/奇记单词_34.jpg) center bottom no-repeat;
}
.list{
	float: right;
	margin-top: 10px;
}
.list li{
	float: left;
	height: 46px;
	width: 100px;
	background: #f0f0f0;
	margin-left: 10px;
	border-radius: 7px;
	line-height: 46px;
	font-size: 17px;
	box-sizing: border-box;
	padding: 0 10px;
}
.list li.now{
	background: linear-gradient(to right, #355fff , #27acff);
	color: #FFFFFF;
}
.list li i{
	display: inline-block;
	height: 26px;
	width: 24px;
	vertical-align: middle;
}
.xcj{
	background: url(../img/images/奇记单词_12.jpg)center center no-repeat;
}
.qnj{
	background: url(../img/images/奇记单词_14.jpg) no-repeat;
}
.tbtest{
	background: url(../img/images/奇记单词_16.jpg) no-repeat;
}
.ncb{
	background: url(../img/images/奇记单词_07.jpg)no-repeat;
}
.tbclass{
	background: url(../img/images/奇记单词_19.jpg)no-repeat;
}
.ajb{
	background: url(../img/images/奇记单词_09.jpg);
}
#left{
	width: 240px;
	float: left;
	border-top: 3px solid #597bff;
	border-radius: 0  0  10px 10px;
	box-shadow: 0px 4px 8px #e6e6e6;
}
#left ul li{
	padding: 0 20px;
	line-height: 40px;
}
#left ul li:first-of-type{
	height: 68px;
	line-height: 68px;
}
#left ul li:nth-of-type(2n){
	background: #f0f0f0;
}
.small{
	font-size: 14px;
}
#right{
	margin-left: 20px;
	float: left;
	width: 740px;
	border-top: 3px solid #597bff;
	border-radius: 0  0  10px 10px;
	box-shadow: 0px 4px 10px #e6e6e6;
	box-sizing: border-box;
	padding: 0 20px;
}
.right-title{
	padding: 15px 0;
	border-bottom: 1px solid #c21700;
}
.tou{
	width: 4px;
	height: 18px;
	display: inline-block;
	vertical-align: -3px;
	background: #C21700;
	margin-right: 8px;
}
.toutop{
	display: block;
	height: 9px;
	width: 4px;
	background: #355eff;
}
.ul2{
	padding: 15px 0;
}
.ul2 li{
	float: left;
	color: #FFFFFF;
	border-radius: 5px;
	background: #cccccc;
	font-size: 14px;
	padding: 5px 8px;
	margin-right: 5px;
}
.ul2 li.now{
	background: linear-gradient(to right, #355fff , #27acff);
}
.book{
	display: none;
}
.book.now{
	display: block;
}
.title{
	border-radius: 5px;
	width: 180px;
	line-height: 30px;
	float: left;
	font-size: 14px;
	border: 1px solid #f0f0f0;
}
.title .cont-t{
	background: #f0f0f0;
	padding: 0 15px;
}
.title ul li{
	padding: 0 15px;
	position: relative;
	border-bottom: 1px dashed #f0f0f0;
}
.title ul li:last-of-type{
	border: 0;
}
.title li.now span,.title li:hover span,.title li>ul li.now{
	color: #5074ff;
}
.title li>ul{
	border: 1px solid #f0f0f0;
	position: absolute;
	width: 170px;
	border-radius: 5px;
	top: 0;
	left: 210px;
	background: #FFFFFF;
	display: none;
}
.title li>ul:after{
	display: block;
	content: "";
	position: absolute;
	top: 7px;
	left: -20px;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: transparent white transparent transparent;
}
.title li>ul:before{
	display: block;
	content: "";
	position: absolute;
	top: 5px;
	left: -24px;
	width: 0;
	height: 0;
	border-width: 12px;
	border-style: solid;
	border-color: transparent #F0F0F0 transparent transparent;
}
.title ul li:hover ul{
	display: block;
}
.book-cont{
	float: right;
	width: 500px;
}
.book-cont ul li{
	float: left;
	width: 25%;
}
.bg{
	background: url(../img/images/奇记单词_44.jpg)no-repeat;
	height: 120px;
	width: 100px;
	margin: auto;
	box-sizing: border-box;
	padding: 30px 0 ;
	color: #FFFFFF;
	text-align: center;
}
.free{
	text-align: center;
	color: #4269ff;
	border: 1px solid #4269ff;
	width: 100px;
	margin: 15px auto;
	border-radius: 5px;
}